Supplement Sales Prediction
Your Client WOMart is a leading nutrition and supplement retail chain that offers a comprehensive range of products for all your wellness and fitness needs.

WOMart follows a multi-channel distribution strategy with 350+ retail stores spread across 100+ cities.

Effective forecasting for store sales gives essential insight into upcoming cash flow, meaning WOMart can more accurately plan the cashflow at the store level.

Sales data for 18 months from 365 stores of WOMart is available along with information on Store Type, Location Type for each store, Region Code for every store, Discount provided by the store on every day, Number of Orders everyday etc.

Your task is to predict the store sales for each store in the test set for the next two months.

Train Data
ID: Unique Identifier for a row

Store_id: Unique id for each Store

Store_Type: Type of the Store

Location_Type: Type of the location where Store is located

Region_Code: Code of the Region where Store is located

Date: Information about the Date

Holiday: If there is holiday on the given Date, 1 : Yes, 0 : No

Discount: If discount is offered by store on the given Date, Yes/ No

Orders: Number of Orders received by the Store on the given Day

Sales: Total Sale for the Store on the given Day

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/source_data/TRAIN.csv/TRAIN.csv')
df.head()

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount,#Order,Sales
0,T1000001,1,S1,L3,R1,2018-01-01,1,Yes,9,7011.84
1,T1000002,253,S4,L2,R1,2018-01-01,1,Yes,60,51789.12
2,T1000003,252,S3,L2,R1,2018-01-01,1,Yes,42,36868.20
3,T1000004,251,S2,L3,R1,2018-01-01,1,Yes,23,19715.16
4,T1000005,250,S2,L3,R4,2018-01-01,1,Yes,62,45614.52

Data set represents daily sales by store location (365 stores) from Jan 1 2018 - May 31 2018. 68 holidays are present in the df.

Interesting things to analyze:
- Trends/Forecst in average order amount (Sales / #Order)
- How much does discount effect # orders and sales?
- Do stores perform better if they are a certain store type, location type, region?
- Are discounts more likely to be given on holidays? 
- Are discounts  more effective on holidays? 
- How do discounts effect # of orders, sales, and sales per order? 
- Do some regions, location types, store types offer more discounts than others?
- Are there ways to group or cluster stores with a combination of X variables?

In [ ]:
df.shape

In [3]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.rename(columns={'#order': 'orders'}, inplace=True)
df['discount'] = np.where(df['discount'] == 'Yes', 1, 0)

In [4]:
df.isnull().sum()

id               0
store_id         0
store_type       0
location_type    0
region_code      0
date             0
holiday          0
discount         0
orders           0
sales            0
dtype: int64

In [5]:
df['date'].unique()

array(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
       '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
       '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
       '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
       '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
       '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
       '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
       '2018-01-29', '2018-01-30', '2018-01-31', '2018-02-01',
       '2018-02-02', '2018-02-03', '2018-02-04', '2018-02-05',
       '2018-02-06', '2018-02-07', '2018-02-08', '2018-02-09',
       '2018-02-10', '2018-02-11', '2018-02-12', '2018-02-13',
       '2018-02-14', '2018-02-15', '2018-02-16', '2018-02-17',
       '2018-02-18', '2018-02-19', '2018-02-20', '2018-02-21',
       '2018-02-22', '2018-02-23', '2018-02-24', '2018-02-25',
       '2018-02-26', '2018-02-27', '2018-02-28', '2018-03-01',
       '2018-03-02', '2018-03-03', '2018-03-04', '2018-03-05',
       '2018-03-06', '2018-03-07', '2018-03-08', '2018-03-09',
       '2018-03-10', '2018-03-11', '2018-03-12', '2018-03-13',
       '2018-03-14', '2018-03-15', '2018-03-16', '2018-03-17',
       '2018-03-18', '2018-03-19', '2018-03-20', '2018-03-21',
       '2018-03-22', '2018-03-23', '2018-03-24', '2018-03-25',
       '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29',
       '2018-03-30', '2018-03-31', '2018-04-01', '2018-04-02',
       '2018-04-03', '2018-04-04', '2018-04-05', '2018-04-06',
       '2018-04-07', '2018-04-08', '2018-04-09', '2018-04-10',
       '2018-04-11', '2018-04-12', '2018-04-13', '2018-04-14',
       '2018-04-15', '2018-04-16', '2018-04-17', '2018-04-18',
       '2018-04-19', '2018-04-20', '2018-04-21', '2018-04-22',
       '2018-04-23', '2018-04-24', '2018-04-25', '2018-04-26',
       '2018-04-27', '2018-04-28', '2018-04-29', '2018-04-30',
       '2018-05-01', '2018-05-02', '2018-05-03', '2018-05-04',
       '2018-05-05', '2018-05-06', '2018-05-07', '2018-05-08',
       '2018-05-09', '2018-05-10', '2018-05-11', '2018-05-12',
       '2018-05-13', '2018-05-14', '2018-05-15', '2018-05-16',
       '2018-05-17', '2018-05-18', '2018-05-19', '2018-05-20',
       '2018-05-21', '2018-05-22', '2018-05-23', '2018-05-24',
       '2018-05-25', '2018-05-26', '2018-05-27', '2018-05-28',
       '2018-05-29', '2018-05-30', '2018-05-31', '2018-06-01',
       '2018-06-02', '2018-06-03', '2018-06-04', '2018-06-05',
       '2018-06-06', '2018-06-07', '2018-06-08', '2018-06-09',
       '2018-06-10', '2018-06-11', '2018-06-12', '2018-06-13',
       '2018-06-14', '2018-06-15', '2018-06-16', '2018-06-17',
       '2018-06-18', '2018-06-19', '2018-06-20', '2018-06-21',
       '2018-06-22', '2018-06-23', '2018-06-24', '2018-06-25',
       '2018-06-26', '2018-06-27', '2018-06-28', '2018-06-29',
       '2018-06-30', '2018-07-01', '2018-07-02', '2018-07-03',
       '2018-07-04', '2018-07-05', '2018-07-06', '2018-07-07',
       '2018-07-08', '2018-07-09', '2018-07-10', '2018-07-11',
       '2018-07-12', '2018-07-13', '2018-07-14', '2018-07-15',
       '2018-07-16', '2018-07-17', '2018-07-18', '2018-07-19',
       '2018-07-20', '2018-07-21', '2018-07-22', '2018-07-23',
       '2018-07-24', '2018-07-25', '2018-07-26', '2018-07-27',
       '2018-07-28', '2018-07-29', '2018-07-30', '2018-07-31',
       '2018-08-01', '2018-08-02', '2018-08-03', '2018-08-04',
       '2018-08-05', '2018-08-06', '2018-08-07', '2018-08-08',
       '2018-08-09', '2018-08-10', '2018-08-11', '2018-08-12',
       '2018-08-13', '2018-08-14', '2018-08-15', '2018-08-16',
       '2018-08-17', '2018-08-18', '2018-08-19', '2018-08-20',
       '2018-08-21', '2018-08-22', '2018-08-23', '2018-08-24',
       '2018-08-25', '2018-08-26', '2018-08-27', '2018-08-28',
       '2018-08-29', '2018-08-30', '2018-08-31', '2018-09-01',
       '2018-09-02', '2018-09-03', '2018-09-04', '2018-09-05',
       '2018-09-06', '2018-09-07', '2018-09-08', '2018-09-09',
       '2018-09-10', '2018-09-11', '2018-09-12', '2018-09-13',
       '2018-09-14', '2018-09-15', '2018-09-16', '2018-09-17',
       '2018-09-18', '2018-09-19', '2018-09-20', '2018-09-21',
       '2018-09-22', '2018-09-23', '2018-09-24', '2018-09-25',
       '2018-09-26', '2018-09-27', '2018-09-28', '2018-09-29',
       '2018-09-30', '2018-10-01', '2018-10-02', '2018-10-03',
       '2018-10-04', '2018-10-05', '2018-10-06', '2018-10-07',
       '2018-10-08', '2018-10-09', '2018-10-10', '2018-10-11',
       '2018-10-12', '2018-10-13', '2018-10-14', '2018-10-15',
       '2018-10-16', '2018-10-17', '2018-10-18', '2018-10-19',
       '2018-10-20', '2018-10-21', '2018-10-22', '2018-10-23',
       '2018-10-24', '2018-10-25', '2018-10-26', '2018-10-27',
       '2018-10-28', '2018-10-29', '2018-10-30', '2018-10-31',
       '2018-11-01', '2018-11-02', '2018-11-03', '2018-11-04',
       '2018-11-05', '2018-11-06', '2018-11-07', '2018-11-08',
       '2018-11-09', '2018-11-10', '2018-11-11', '2018-11-12',
       '2018-11-13', '2018-11-14', '2018-11-15', '2018-11-16',
       '2018-11-17', '2018-11-18', '2018-11-19', '2018-11-20',
       '2018-11-21', '2018-11-22', '2018-11-23', '2018-11-24',
       '2018-11-25', '2018-11-26', '2018-11-27', '2018-11-28',
       '2018-11-29', '2018-11-30', '2018-12-01', '2018-12-02',
       '2018-12-03', '2018-12-04', '2018-12-05', '2018-12-06',
       '2018-12-07', '2018-12-08', '2018-12-09', '2018-12-10',
       '2018-12-11', '2018-12-12', '2018-12-13', '2018-12-14',
       '2018-12-15', '2018-12-16', '2018-12-17', '2018-12-18',
       '2018-12-19', '2018-12-20', '2018-12-21', '2018-12-22',
       '2018-12-23', '2018-12-24', '2018-12-25', '2018-12-26',
       '2018-12-27', '2018-12-28', '2018-12-29', '2018-12-30',
       '2018-12-31', '2019-01-01', '2019-01-02', '2019-01-03',
       '2019-01-04', '2019-01-05', '2019-01-06', '2019-01-07',
       '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
       '2019-01-12', '2019-01-13', '2019-01-14', '2019-01-15',
       '2019-01-16', '2019-01-17', '2019-01-18', '2019-01-19',
       '2019-01-20', '2019-01-21', '2019-01-22', '2019-01-23',
       '2019-01-24', '2019-01-25', '2019-01-26', '2019-01-27',
       '2019-01-28', '2019-01-29', '2019-01-30', '2019-01-31',
       '2019-02-01', '2019-02-02', '2019-02-03', '2019-02-04',
       '2019-02-05', '2019-02-06', '2019-02-07', '2019-02-08',
       '2019-02-09', '2019-02-10', '2019-02-11', '2019-02-12',
       '2019-02-13', '2019-02-14', '2019-02-15', '2019-02-16',
       '2019-02-17', '2019-02-18', '2019-02-19', '2019-02-20',
       '2019-02-21', '2019-02-22', '2019-02-23', '2019-02-24',
       '2019-02-25', '2019-02-26', '2019-02-27', '2019-02-28',
       '2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
       '2019-03-05', '2019-03-06', '2019-03-07', '2019-03-08',
       '2019-03-09', '2019-03-10', '2019-03-11', '2019-03-12',
       '2019-03-13', '2019-03-14', '2019-03-15', '2019-03-16',
       '2019-03-17', '2019-03-18', '2019-03-19', '2019-03-20',
       '2019-03-21', '2019-03-22', '2019-03-23', '2019-03-24',
       '2019-03-25', '2019-03-26', '2019-03-27', '2019-03-28',
       '2019-03-29', '2019-03-30', '2019-03-31', '2019-04-01',
       '2019-04-02', '2019-04-03', '2019-04-04', '2019-04-05',
       '2019-04-06', '2019-04-07', '2019-04-08', '2019-04-09',
       '2019-04-10', '2019-04-11', '2019-04-12', '2019-04-13',
       '2019-04-14', '2019-04-15', '2019-04-16', '2019-04-17',
       '2019-04-18', '2019-04-19', '2019-04-20', '2019-04-21',
       '2019-04-22', '2019-04-23', '2019-04-24', '2019-04-25',
       '2019-04-26', '2019-04-27', '2019-04-28', '2019-04-29',
       '2019-04-30', '2019-05-01', '2019-05-02', '2019-05-03',
       '2019-05-04', '2019-05-05', '2019-05-06', '2019-05-07',
       '2019-05-08', '2019-05-09', '2019-05-10', '2019-05-11',
       '2019-05-12', '2019-05-13', '2019-05-14', '2019-05-15',
       '2019-05-16', '2019-05-17', '2019-05-18', '2019-05-19',
       '2019-05-20', '2019-05-21', '2019-05-22', '2019-05-23',
       '2019-05-24', '2019-05-25', '2019-05-26', '2019-05-27',
       '2019-05-28', '2019-05-29', '2019-05-30', '2019-05-31'],
      dtype=object)

In [6]:
len(df['store_id'].unique())

365

In [7]:
holidays = df[df['holiday'] == 1]
holidays = holidays['date'].unique()
holidays

array(['2018-01-01', '2018-01-14', '2018-01-22', '2018-01-26',
       '2018-01-31', '2018-02-10', '2018-02-14', '2018-02-19',
       '2018-03-01', '2018-03-02', '2018-03-18', '2018-03-25',
       '2018-03-29', '2018-03-30', '2018-04-01', '2018-04-14',
       '2018-04-15', '2018-04-30', '2018-05-09', '2018-06-15',
       '2018-06-16', '2018-07-14', '2018-08-15', '2018-08-17',
       '2018-08-22', '2018-08-25', '2018-08-26', '2018-09-03',
       '2018-09-13', '2018-09-21', '2018-10-02', '2018-10-16',
       '2018-10-17', '2018-10-18', '2018-10-19', '2018-10-24',
       '2018-10-27', '2018-11-06', '2018-11-07', '2018-11-08',
       '2018-11-09', '2018-11-13', '2018-11-21', '2018-11-23',
       '2018-11-24', '2018-12-24', '2018-12-25', '2019-01-01',
       '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-26',
       '2019-02-10', '2019-02-19', '2019-03-01', '2019-03-04',
       '2019-03-20', '2019-03-21', '2019-04-06', '2019-04-13',
       '2019-04-14', '2019-04-15', '2019-04-17', '2019-04-19',
       '2019-04-21', '2019-05-09', '2019-05-18', '2019-05-31'],
      dtype=object)

In [8]:
len(holidays)

68

In [13]:
df['date_fom'] = pd.to_datetime(df['date']).dt.to_period('M').dt.start_time

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188340 entries, 0 to 188339
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             188340 non-null  object
 1   store_id       188340 non-null  int64
 2   store_type     188340 non-null  object
 3   location_type  188340 non-null  object
 4   region_code    188340 non-null  object
 5   date           188340 non-null  object
 6   holiday        188340 non-null  int64
 7   discount       188340 non-null  int32
 8   orders         188340 non-null  int64
 9   sales          188340 non-null  float64
 10  date_fom       188340 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int32(1), int64(3), object(5)
memory usage: 15.1+ MB

In [25]:
store_dims = ['store_id', 'store_type', 'location_type', 'region_code']
num_cols = ['holiday', 'discount', 'orders', 'sales']
df_summary = df.groupby(columns = ['date_fom', 'store_id', 'store_type'][num_cols].agg('sum'))

TypeError: list indices must be integers or slices, not list

In [26]:
df.groupby([
    'date_fom', 
    'store_id', 
    'store_type', 
    'location_type', 
    'region_code'])['holiday', 'discount', 'orders', 'sales'].agg('sum')

C:\Users\alexatr\AppData\Local\Temp\ipykernel_18648\2594563266.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['date_fom', 'store_id', 'store_type', 'location_type', 'region_code'])['holiday', 'discount', 'orders', 'sales'].agg('sum')

                                                          holiday  discount  \
date_fom   store_id store_type location_type region_code
2018-01-01 1        S1         L3            R1                 5        15
           2        S3         L1            R3                 5        15
           3        S4         L2            R1                 5        15
           4        S1         L1            R2                 5        15
           5        S1         L1            R3                 5        15
...                                                           ...       ...
2019-05-01 361      S1         L3            R1                 3        14
           362      S1         L3            R3                 3        15
           363      S1         L1            R2                 3        16
           364      S2         L3            R2                 3        15
           365      S2         L1            R2                 3        14

                                                          orders       sales
date_fom   store_id store_type location_type region_code
2018-01-01 1        S1         L3            R1             1884  1145607.81
           2        S3         L1            R3             2144  1440212.91
           3        S4         L2            R1             3225  1881592.47
           4        S1         L1            R2             1871  1196211.06
           5        S1         L1            R3             2091  1445288.52
...                                                          ...         ...
2019-05-01 361      S1         L3            R1             1669  1082812.26
           362      S1         L3            R3             2150  1405548.93
           363      S1         L1            R2             2315  1495066.11
           364      S2         L3            R2             1397   988258.08
           365      S2         L1            R2             1641  1228721.04

[6205 rows x 4 columns]